/*****************************************

	HEADER

*****************************************/

h1 {
	font-size: 36px;
	margin-top: 20px;
	margin-bottom: 10px;
}

body {
	font-size: 14px;
}

h1, h2, h3, p {
	font-family: Helvetica,Arial,sans-serif;
	font-weight: 500;
	line-height: 1.1;
	color: black;
}

p {
	margin: 0 0 10px;
	line-height: 170%;
}

img {
	vertical-align: middle;
	margin: 0;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}



/******************************************

	APPLICATION (Drag-and-Drop)

******************************************/

* {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 14px;
}

.q-drag-drop {
	margin: 2px;
	padding: 6px;
	border-radius: 5px;
	background-color: #ebcdf9;
}

.q-drag-drop:hover {
	background-color: #d297ed;
	cursor: pointer;
	color: #ffffff;
}

.q-box {
	background-color: #f2f2f2;
	margin: 10px;
	padding: 1em;
}

.subtext {
	font-size: 0.9em;
	color: #8e8e8e;
	font-style: italic;
}

#droppable { 	
	width: 500px;  
	height: 50px; 
	padding: 1em; 
	border-radius: 5px;
	background-color: #d297ed;
	color: #ffffff;
}

#draggable2, #draggable-nonvalid { 
	width: 300px; 
	height: 20px; 
	padding: 0.7em; 
	margin: 10px; 
	border-radius: 5px;
	background-color: #ebcdf9;
	cursor: pointer;
}


.ui-state-highlight {
	background-color: #ade86d;
	border: 2px solid #ade86d;
}


.ui-state-wrong {
	background-color: #ade86d;
	border: 2px solid #ade86d
}

.correct {
	background-color: #ade86d !important;
}

/******************************************

	APPLICATION (Make Sentence)

******************************************/

.container {
	width: 90%;
}

#ms1 {
	height: auto;
	padding: 20px;
	background-color: #f2f2f2;
}

#ms1container {
	overflow: hidden;	/* corrigir referência */
}

#ms1Answer li {
	display: inline-block;
	float: left;  /* correção para bug */
	background-color: #ebcdf9;
	margin: 5px 1px;
	height: auto;
	padding: 15px;
	border-radius: 10px;
	cursor: pointer;

}

#ms1Elements {
	padding-top: 20px;
}

.btnSend{
	border: 1px solid #999999; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size:14px;
	padding: 10px 25px 10px 25px; 
	text-decoration:none; 
	display: inline-block;
	color: #000000;
	background-color: #b6e026; 
	margin: 20px 50px;

}

.btnSend:hover{
	border:1px solid #7A7A7A;
	background-color: #95b91a; 
	cursor: pointer;
}

/******************************************

	APPLICATION (Order)

******************************************/

#o1 {
	height: auto;
	padding: 20px;
	background-color: #f2f2f2;
}

#o1container {
}

#o1Answer {
	padding-left: 0px;
}

#o1Answer li {
	background-color: #ebcdf9;
	margin: 5px 1px;
	height: auto;
	padding: 15px;
	border-radius: 10px;
	cursor: pointer;
	list-style-type: none;
	text-align: center;
}

#o1Answer li span {
	float: right;
	/*border-radius: 15px;
	border: 1px solid silver; */
	color: black;
}

#o1Answer li span:hover {
	color: black;
}



#o1Elements {
	padding-top: 20px;
}